

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
  
}

.dark p,
.dark h2,
.dark h3 {
  color: #ffffff;
}

.text-elements {
  color: #333333 !important; /* Estilo de color de texto normal, ajusta según tus necesidades */
}

.dark-detail{
  background-color: #ffffff
}